* {
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

body {
	font-family: 'Open Sans', sans-serif;
	/*Origen de la imagen*/
	background: url('../img/fondo.jpg') #000;
	background-size: cover;
	background-attachment: fixed;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	/*margin: 20px;*/

	display: flex;	/*habilitamos flexbox*/
	flex-direction: row;	/*Especifica la direccion de los elementos*/
	flex-wrap: wrap;	/*Ajusta o no los elementos en la fila*/
}

header {
	width: 100%;
	padding: 50px 0px;

	display: flex;	/*Habilitamos flexbox*/
	flex-direction: row;	/*Ajustar horizontalmente los elementos*/
	justify-content: space-between;		/*Ajustar el espacio entre los elementos*/
	align-items: center;	/*Ajustar los elementos veticalmente*/
}
header .menu  a {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	margin-right: 40px;
}
header .menu a:hover {
	text-decoration: underline;
}

.main {
	width: 70%;
	background: #fff;
	padding: 20px;
}
.main article .thumb {
	width: 100%;
	margin-bottom: 20px;
}
.main article .thumb img {
	width: 100%;
	/*Eliminar el espacio que genera la imagen*/
	vertical-align: top;
}
.main article h2 {
	font-size: 32px;
	font-weight: normal;
	margin-bottom: 20px;
}
.main article p {
	font-size: 14px;
	line-height: 27px;
	margin-bottom: 20px;
}

aside {
	width: 30%;
	background: #537dca;
	padding: 20px;

	display: flex;	/*Habilitar flexbox*/
	flex-direction: column;	 /*Ordena verticalmente los elementos*/
	flex-wrap: wrap;	/*Ajusta o no los elementos en la columna*/
	justify-content: space-between;		/*Ajusta el espacio entre los elementos*/
}
aside .add {
	background: #4264ae;
	font-size: 30px;
	color: #fff;
	text-align: center;
	padding: 50px 0px;
	/*margin: 20px 0px;*/
}

footer {
	width: 100%;
	background: rgba(255, 255, 255, .2);
	margin-top: 20px 0px;
	padding: 20px;
	color: #fff;

	display: flex;	/*Habilitamos flexbox*/
	flex-direction: row;	/*Ordenamos horizontalmente*/
	flex-wrap: nowrap;	/*Ajusta los elementos segun el ancho del padre*/
	justify-content: space-between;		/*Ajusta el espacio entre los elementos*/
}
footer .redes-sociales a {
	color: #fff;
	text-decoration: underline;
	margin-left: 20px;
}
footer .redes-sociales a:hover {
	text-decoration: none;
}

/*Responsive*/
@media screen and (max-width: 800px) {
	.main {
		width: 100%;
	}
	aside {
		width: 100%;

		flex-direction: row;
	}
	aside .add {
		width: 40%;
	}
}
@media screen and (max-width: 600px) {
	header {
		padding-bottom: 20px;
		flex-direction: column;
	}
	header .menu {
		width: 100%;
		background: rgba(255, 255, 255, .2);
		text-align: center;
		padding: 20px;
	}
	header .menu a {
		margin: 0px 20px;
	}

	footer {
		text-align: center;
		flex-direction: column;
	}
	footer .autor {
		order: 2;
		margin-bottom: 20px;
	}
	footer .redes-sociales {
		order: 1;
	}
}
@media screen and (max-width: 400px) {
	aside {
		display: none;
	}
}